.gallery {
  background-color: #ffffff;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.gallery-photo {
  max-width: 550px; /* Ajusta el tamaño máximo según sea necesario */
  max-height: 350px; /* Ajusta el tamaño máximo según sea necesario */
  width: auto; /* Mantiene el tamaño natural de la imagen */
  height: auto; /* Mantiene el tamaño natural de la imagen */
  border-radius: 8px; /* Esquinas redondeadas para un mejor estilo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra para dar un efecto de profundidad */
  cursor: pointer;
  object-fit: cover; /* Asegura que la imagen cubra el área del contenedor */
  transition: transform 0.3s ease; /* Agrega transición para el efecto de zoom */
}

.gallery-photo:hover {
  transform: scale(
    1.05
  ); /* Aumenta un poco el tamaño al pasar el ratón por encima */
}

.photo-item.dragging {
  border: 2px dashed #007bff; /* Ejemplo de borde para indicar arrastre */
  background-color: rgba(0, 123, 255, 0.1); /* Fondo ligero para destacar el elemento arrastrado */
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.photo-item {
  transition: transform 0.3s ease; /* Transición para un efecto más fluido */
}
