.modal {
    display: flex;
    flex-direction: column; /* Permite apilar el botón y la imagen */
    justify-content: center; /* Centra el contenido verticalmente */
    align-items: center; /* Centra el contenido horizontalmente */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.793);
    z-index: 1000;
    transition: background-color 0.3s ease; /* Transición suave para el cambio de fondo */
    margin: 0; /* Asegúrate de que no haya margen */
    padding: 0; /* Asegúrate de que no haya padding */
  }
  
  .modal-black {
    background-color: black; /* Fondo totalmente negro cuando los botones están visibles */
  }
  
  .modal-content {
    max-width: 99%;
    max-height: 98%;
    border: none;
    object-fit: contain; /* Mantiene la proporción de la imagen sin deformarla */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, max-width 0.3s ease, max-height 0.3s ease;
    z-index: 1001; /* Asegura que la imagen esté siempre por encima del fondo */
    margin: 0; /* Asegúrate de que no haya margen */
    padding: 0; /* Asegúrate de que no haya padding */
  }
  
  .full-image {
    width: 100%;
  }
  
  
  .rotate-button,
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0); /* Cambié la opacidad para mejor visibilidad */
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 1001;
    transition: opacity 0.3s ease; /* Transición suave para la opacidad */
  }
  
  .rotate-button {
    left: 30px;
    top: 30px; /* Ajusté la posición para no interferir con el botón de cierre */
  }
  
  .prev-button {
    left: 20px;
  }
  
  .next-button {
    right: 20px;
  }
  
  .close {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    z-index: 1001;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
  }