.landing-container {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  transition: background-color 0.3s ease;
}

.landing-container.black-background {
  background-color: black;
}

.landing-userInfo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  height: 180px;
}

.landing-userText {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-right: 10px;
}

.landing-userName,
.landing-works {
  margin: 0;
  padding: 10px;
  line-height: 1;
}

.landing-imageSection {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}

.landing-porfilePhoto {
  height: 14vh;
  position: relative;
  right: 0px;
  border-radius: 50px;
}

.landing-gallery {
  background-color: #ffffff;
  display: flex;
  width: 95%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.landing-gallery-photo {
  max-width: 550px;
  max-height: 350px;
  width: auto;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.landing-gallery-photo:hover {
  transform: scale(1.05);
}

.landing-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.793);
  z-index: 1000;
  margin: 0;
  padding: 0;
}

.landing-modal-black {
  background-color: black;
}

.landing-modal-content {
  max-width: 99%;
  max-height: 98%;
  border: none;
  object-fit: contain;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, max-width 0.3s ease, max-height 0.3s ease;
  z-index: 1001;
  margin: 0;
  padding: 0;
}

.landing-full-image {
  width: 130%;
  max-width: none;
  max-height: none;
}

.landing-rotate-button,
.landing-prev-button,
.landing-next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1001;
  transition: opacity 0.3s ease;
}

.landing-rotate-button {
  left: 30px;
  top: 30px;
}

.landing-prev-button {
  left: 20px;
}

.landing-next-button {
  right: 20px;
}

.landing-close {
  position: absolute;
  top: 20px;
  right: 40px;
  color: white;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  z-index: 1001;
}

.landing-close:hover,
.landing-close:focus {
  color: #bbb;
  text-decoration: none;
}

.landing-userName {
  font-size: 50px;
  font-weight: 100;
  color: #434343;
  font-family: "Playfair Display", serif;
}

.landing-works {
  color: #434343;
  font-size: 20px;
  font-weight: 100;
}

.landing-loading-spinner {
  border: 8px solid rgba(255, 255, 255, 0.3);
  border-top: 8px solid white;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@media (max-width:900px) {
  .landing-gallery {
    width: 100%;
  }
  .landing-gallery-photo {
    max-width: 180px;
  }
  .landing-rotate-button {
    top: 50px;
  }
  .landing-works {
    padding-bottom: 30px;
  }
  .landing-userInfo {
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 0px;
  }
}
